DISCORD_CLIENT_ID=1403882559019946104
DISCORD_CLIENT_SECRET=GzttzKhmdk2z1UC6z55F8STIh9qbIlO9
DISCORD_REDIRECT_URI=https://www.archiveant.org/api/auth/callback
NEXT_PUBLIC_DOMAIN=https://www.archiveant.org
JWT_SECRET=your-secret-key-change-this-in-production
